<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Saved Trainings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- List of saved trainings -->
  <ion-card *ngIf="savedTrainings.length > 0">
    <ion-card-header>
      <ion-card-title>Saved Trainings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let training of savedTrainings; let i = index">
          <ion-label>
            <h2>{{ training.name }}</h2>
            <p>Date: {{ training.date }}</p>
            <p>Exercises: {{ training.exercises.length }}</p>
          </ion-label>

          <!-- Container for buttons below text -->
          <div class="button-container">
            <!-- Button to show exercises in a modal -->
            <ion-button expand="block" color="primary" (click)="showExercises(training)">
              <ion-icon name="fitness"></ion-icon> Show Exercises
            </ion-button>

            <!-- Button to delete the training -->
            <ion-button expand="block" color="danger" (click)="removeTraining(i)">
              <ion-icon name="trash"></ion-icon> Delete
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Show a message if there are no saved trainings -->
  <ion-card *ngIf="savedTrainings.length === 0">
    <ion-card-content class="ion-text-center">
      <p>No trainings saved yet.</p>
    </ion-card-content>
  </ion-card>

  <!-- Clear all button -->
  <ion-button expand="block" color="danger" class="ion-margin-top" (click)="clearTrainings()">
    Clear All Trainings
  </ion-button>
</ion-content>
