.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Medzera medzi tlačidlami */
    margin-top: 10px; /* Priestor medzi textom a tlačidlami */
  }
  
  ion-button {
    width: 100%; /* Zabezpečí, že tlačidlá budú mať rovnakú šírku */
  }
  