<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trénink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <!--Information about training-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Training Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Training name</ion-label>
        <ion-input [(ngModel)]="training.name" placeholder="Upper body"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-datetime [(ngModel)]="training.date" presentation="date" placeholder="Choose date"></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Add exercise -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add exercise</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Exercise name</ion-label>
        <ion-input [(ngModel)]="newExercise.name" placeholder="Bench press"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Number of series</ion-label>
        <ion-input type="number" [(ngModel)]="newExercise.sets" placeholder="3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Number of repeats</ion-label>
        <ion-input type="number" [(ngModel)]="newExercise.reps" placeholder="12"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Weight (kg)</ion-label>
        <ion-input type="number" [(ngModel)]="newExercise.weight" placeholder="50"></ion-input>
      </ion-item>

      <ion-button expand="block" color="secondary" (click)="addExercise()">
        Add exercise
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- List of exercises-->
  <ion-card *ngIf="training.exercises.length > 0">
    <ion-card-header>
      <ion-card-title>List of exercises</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let exercise of training.exercises; let i = index">
          <ion-label>
            <h3>{{ exercise.name }}</h3>
            <p>Series: {{ exercise.sets }}, Repeats: {{ exercise.reps }}, Weight: {{ exercise.weight }} kg</p>
          </ion-label>
          <ion-button fill="clear" color="danger" slot="end" (click)="removeExercise(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Save Training -->
  <ion-button expand="block" color="primary" [disabled]="training.exercises.length === 0" (click)="saveTraining()">
    Save training
  </ion-button>
</ion-content>
