<ion-header>
  <ion-toolbar>
    <ion-title>Photo Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="photo-list-header">
    <h2>Progess Photo List</h2>
  </div>
  <!-- Display photos in a list-->
  <ion-list>
    <ion-item *ngFor="let photo of photos" (click)="showPhoto(photo)">
      <ion-label>{{ photo.name }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- If there are no photos yet, show a button -->
  <ion-button *ngIf="photos.length === 0" expand="full" color="medium">
    No photos yet
  </ion-button>

  <!-- Button to take a photo -->
  <ion-button expand="full" color="primary" (click)="takePhoto()">
    Take a Photo
  </ion-button>

</ion-content>
